.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
    margin: 0;
    padding: 0px;
    background-image: linear-gradient(to right, grey, green, black);
    color: white;
    
}

.navbar {
  background-color: rgb(29, 94, 29);
  color: white; 
}

.nav-link {
  color: white;
}

.site-footer {
  background-image: linear-gradient(to right, grey, green, black);
  color: yellow;
}

#casinoBody {
   background-color: black;
   padding: 60px;
   /* border: solid red 5px; */
}

.btn-link {
  color: yellow;
}

#rules {
  text-align: left;
}

#li {
  color: yellow;
}


.candy {
  align: space-between;
}

.logos {
  color: purple;
}

/* .blackspace {
  padding-top: 5px;
  border: solid red 5px;
} */

.para {
  /* border: solid orange 5px; */
  /* height: 300px; */
  font-size: 23px;
  text-align:left; 
  /* padding-top: 25px; */
}

.containter {
  padding-top: 30px;
}

h2 {
  color: yellowgreen;
}

.middle {
  justify-content: center;
  padding: 15px;
}